In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [16]:
data=pd.read_csv('C:/Users/Admin/Desktop/Mall_Customers.csv')
data

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [17]:
x = data.iloc[:, 3:5].values
print(x.shape)

(200, 2)

In [18]:
km = KMeans(n_clusters = 5, init = 'k-means++', max_iter = 300, n_init = 10, random_state = 0) 
# Change value of n_clusters to 4,5 or 6 to check how Dunn index changes
y_means = km.fit_predict(x)

In [19]:
km.inertia_

44448.45544793371

In [20]:
km.cluster_centers_

array([[88.2       , 17.11428571],
       [55.2962963 , 49.51851852],
       [86.53846154, 82.12820513],
       [25.72727273, 79.36363636],
       [26.30434783, 20.91304348]])

In [21]:
import math
def max_intra_cluster_distance(cluster_points,centroid):
    max_dist = float('-inf')
    for point in cluster_points:
        dist = math.dist(centroid, point)
        if dist > max_dist:
            max_dist = dist
    return max_dist

In [22]:
max_distance = float('-inf')
for i in range(0,5):
    cluster_points = x[y_means == i]
    centroid = list(km.cluster_centers_[i])
    dist = max_intra_cluster_distance(cluster_points,centroid)
    if dist > max_distance:
        max_distance = dist                                                                       

print("Maximum intra cluster distance",max_distance)
max_intra_cluster_dist = max_distance

Maximum intra cluster distance 50.46906864807208

In [23]:
def min_inter_cluster_distance(centroids):
    min_dist = float('inf')
    for i in range(len(centroids)):
        for j in range(len(centroids)):
            dist = math.dist(centroids[i], centroids[j])
            if(i==j):
                continue
            else:
                if dist < min_dist:
                    min_dist = dist
    return min_dist

In [24]:
centroids = km.cluster_centers_
centroids

array([[88.2       , 17.11428571],
       [55.2962963 , 49.51851852],
       [86.53846154, 82.12820513],
       [25.72727273, 79.36363636],
       [26.30434783, 20.91304348]])

In [25]:
min_inter_cluster_dist = min_inter_cluster_distance(centroids)
print("Minimum inter cluster distance",min_inter_cluster_dist)

Minimum inter cluster distance 40.728445567908395

In [26]:
dunn_index = min_inter_cluster_dist/max_intra_cluster_dist

In [27]:
dunn_index

0.8069981606340624